body {
  padding: 1rem;
}

section {
}

h1 {
  font-family: 'helvetica';
}

p {
  font-family: 'helvetica';
}

#text {
  display: flex;
  font-size: 12px;
  position: fixed;
  bottom: 0;
}

#text .event {
  padding: 1rem;
  flex: 1;
  animation: rotate 1s infinite alternate;
}

#circle {
  height: 600px;
  overflow: none;
}

.float {
  float:left;
}

.event {
  background: white;
}

.small {
  width: 150px;
  height: 150px;
  background: black;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px;
}

.middle {
  width: 200px;
  height: 200px;
  background: black;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

.large {
  width: 300px;
  height: 300px;
  background: black;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
}

div:first-child {
  transition: all .5s ease-in;
}

div:first-child:hover {
  background: yellow;
	transform: rotate(20deg) scale(3);
}

div:nth-child(2) {
  transition: all .5s ease-in;
}

div:nth-child(2):hover {
  width: 300px;
  height: 300px;
  background: blue;
	transform: rotate(20deg) scale(4);

}

div:nth-child(5) {
  transition: all .5s ease-in;
}

div:nth-child(5):hover {
	background: yellow;
	z-index: 10;
  transform: scale(.7, 1.5) rotate(30deg) skewY(-15deg) translate(200px, 20%);


}



@media screen and (max-width: 700px){
  body {
    background: yellow;
  }

}

@media screen and (max-width: 500px){
div:nth-child(2) {
  width: 300px;
  height: 300px;
  background: blue;
  transform: rotate(20deg) scale(4);
  }

  @keyframes rotate{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
}
